
:root {
    --main-bg-color: #ebeffa;
    --main-page-color: #f7f7f7;
    --main-nav-color: #1d233b;
    --main-txt-color: #1d233b;
    --main-shadow-color: #595959;
}

body { 
    display: flex;
    justify-content: center;
    background-color: var(--main-bg-color);
    font-size: 12pt;
    padding: 0em 2em;
    margin: 0em 0ch;
}

.background_image{
    background-image: url('images/background.jpg');
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    width: 150ch;
    border-radius: 35px;
    padding: 2.5em 2.5em;
    display: flex;
    justify-content: center;
}

.main_page{
    background-color: var(--main-page-color);
    /*opacity: 90%;*/
    width: 100%;
    min-width: 100ch;
    border-radius: 35px;
    padding: 2em 0em 2em 2em;
    box-shadow: 0em 0em 0.4em 0em var(--main-shadow-color);
    display: flex;
    justify-content: center;
}

.side_bar{
    background-color: var(--main-nav-color);
    max-height: 30em;
    width: 8%;
    min-width: 8ch;
    border-radius: 30px;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 0em;
    box-shadow: 0em 0em 0.4em 0em var(--main-shadow-color);
}

.navItem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
    text-decoration: none;
    margin-bottom: 1em;
}

.navItem:hover{
    background-color: #223455;
    border-left: 2.5px solid lightskyblue;
    width: 96%;
}

.navIcon{
    color: white;
    font-size: 14pt;
}

.navItem:first-child{
    border-width: 2px;
    border-style: solid;
    border-color: lightskyblue;
    border-image: initial;
    border-radius: 50% 50% 50% 50%; 
    padding: 0.8em 0.7em;
    cursor: initial;
    width: initial;
    height: initial;
    /*text-shadow: 0 0 3px #000;*/
    /*border: 2px solid lightskyblue;
    border-collapse: separate;
    border-spacing: 100px 50px;
    border-radius: 100px;*/
}

.internal_page{
    width: 92%;
    min-width: 100ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Verdana, Geneva, sans-serif;
    /*background-color: lime;*/ /*debug*/
}

.internal_page_content{
    width: 100%;
    /*margin-bottom: 1em;*/
    /*border: solid;*/ /*debug*/
}

.internal_page_content:last-child{
    margin-bottom: 0em;
}

.dashboard_header{
    height: 15%;
    display: flex;
    padding-top: 0.8em;
}

.left_header{
    display: flex;
    flex-direction: column;
}

.page_title{
    font-size: 18pt;
    margin-bottom: 0.5em;
    user-select: none;
    color: var(--main-nav-color);
}

.arrowItem{
    margin-right: 2ch;
}

.arrowIcon{
    color: lightgray;
}

.right_header{
    margin-left: auto;
    display: flex;   
}

.add_vacation_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 2em;
    min-width: 12ch;
    background-color: var(--main-nav-color);
    margin-right: 5ch;
    border-radius: 15px;
    /*box-shadow: 0em 0em 0.2em 0em #595959;*/
}

.addVacItem{
    font-family: Calibri;
    color: white;
    font-size: 8pt;
    text-decoration: none;
}

.addVacIcon{
    margin-right: 1ch;
    font-size: 8pt;
    color: white;
}

.searchItem{
    margin-top: 0.5em;
    color: lightgray;
    margin-right: 5ch;
}

.profileIcon{
    font-size: 24pt;
    color: lightslategray;
    margin-right: 2em;
}

.vacation_types{
    height: 30%;
    display: flex;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.vacation_type_box{
    background-color: white;
    min-width: 26ch;
    max-height: 10em;
    margin-right: 3.5ch;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0.0em 0.0em 0.2em 0.0em #595959;
    margin-top: 0.2em;
    margin-left: 0.2em;
    margin-bottom: 0.2em;
}

.vacation_type_box_item{
    margin-top: 0.8em;
}

.fa_sun_container{
    margin-top: 0em;
    background-color: #6f93b7;
    border-radius: 100px;
}

.vacTypeIcon{
    font-size: 18pt;
    margin: 0.3em;
}

.fa-sun{
    color: lightcyan;
}

.vac_type_txt{
    font-size: 10pt;
    text-decoration: none;
    color: var(--main-txt-color);
}

.score_txt{
    font-size: 16pt;
    color: var(--main-txt-color);
}

.total_score_txt{
    font-size: 12pt;
    color: var(--main-txt-color);
}

.vac_status_txt{
    font-size: 10;
    color: gray;
}

.vacation_list{
    height: 55%;
}